.slide-container{
    height: 80vh;
    display:flex;
    justify-content: space-around;
}
.download{
    height:50px;
    width: 50px;
    margin: 0 85%;
}
.arrow{
    height:100%
}


@media ( max-width:480px ){
    .slide-img{
        height:40vh;
    }
    .slide-container{
        align-items: center;
        height:40vh;
    }
}