<div class="container">
  <div class="block">
    <h1>DANNY YORGEUS</h1>
  </div>
  <div class="block">
    <div class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit iste ullam ducimus quibusdam perferendis facere possimus fuga?
      Doloribus voluptatibus sunt aut,
      laboriosam cum voluptate odio porro tempora sapiente cumque rem.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit iste ullam ducimus quibusdam perferendis facere possimus fuga?
      Doloribus voluptatibus sunt aut,
      laboriosam cum voluptate odio porro tempora sapiente cumque rem.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit iste ullam ducimus quibusdam perferendis facere possimus fuga?
      Doloribus voluptatibus sunt aut,
      laboriosam cum voluptate odio porro tempora sapiente cumque rem.
      Warhorse.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit iste ullam ducimus quibusdam perferendis facere possimus fuga?
      Doloribus voluptatibus sunt aut,
      laboriosam cum voluptate odio porro tempora sapiente cumque rem.
    </div>
  </div>

</div>
