ul{
    padding:0;
}
.main-image{
    background-image:url('../../../assets/about/WarHorse.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 70%;
    height: 64%;
    /* max-height: 70%; */

    z-index: 1;
    display:flex;

}
.about-body{
    display:grid;
    grid-template-areas: 
    "a a a a a a "
    "b b b c c c"
    "d d . c c c"
    "e e e e e e";
    min-height:50vh;
    padding:5%
   }

.gird-one{
    grid-area:a;
    height:auto
}
.grid-two{
    grid-area:b;
    min-height:10vh;
    height:auto
}
.grid-three{

    grid-area:c;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    min-height:30vh;
    background-image:url("../../../assets/images/Website/About/ComicDesktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:500px

}
.video-container{
    justify-content: center;
    margin:0% 5% 5% 0%
}
.grid-four{
    grid-area:d;
    min-height:10vh;
    height:auto
}
.grid-five{
    grid-area:e;
    min-height:10vh;
    height:auto
}

.secret-ear-blocker-div{
    position:relative;
    width:5%;
    height:5%;
    border:2px solid green;
    z-index: 10
}
.about-image{
    max-width: 50%;
    margin:0 auto;
    display:flex;
}

.text-large{
    font-size: 30px;
    font:bolder
}
.small-panel {
 
    min-height: 30vh !important;
    position: relative;
    z-index: 1;
    margin-right: 34%;
    width: 50%;
}
.small-text{
    padding: 0% 5%;
    margin:0;
    font-size:1.4em
}
.left{
    justify-items: left;
}

.about-list{
    list-style-type:none;
    margin-right:50%

}
.top-text{
       margin-right: 47%;
    margin-left: 10%;
    text-align: left;
    position: relative;
    z-index: 1;
}
li{
    font-weight:bolder
}
.answer{
    padding-left:5%
}
.big-grid-img{
    height:100%;
    background-size:cover;
    background-position-x: 80%;
}
.small-grid-img{
    height:50%;
    background-size:cover;
    background-position-x: 80%;

}
.small-image{
    display:none;
}
@media (min-width:1025px) and (max-width:1199px){
    .top-text, .forty{
        margin-right:26%
    }
    .main-image{
        width: 70%;
        max-height: 70%;
        background-position-x: 100%;
    
    }
    .text{
        font-size: 2em;
    position: relative;
    z-index: 1;
    }
    .small-panel{
        min-height: 30vh !important;
        margin-right: 34%;
        width: 50%;
        position: relative;
        z-index: 1;
    }
}
@media (max-width:1400px) and (min-width:1200px){
    .top-text, .forty{
        margin-right:26%
    }
    .main-image{
        width: 74%;
        height: 80vh;
        background-position-x: 100%;
        position: absolute;
        z-index: 1;
        top: 22%
    }
    .text{
        font-size: 2em;
    position: relative;
    z-index: 1;
    }
    .small-panel{
        min-height: 30vh !important;
        margin-right: 34%;
        width: 50%;
        position: relative;
        z-index: 1;
    }


}
@media (min-width:767px) and (max-width:1024px){
    .main-image{
        background-size: 126%;
        background-position-x: 20%;
        background-position-y: 87%;
        top:180%;
        height:200%;
        width:40%
    }
    .top-text{
        margin-left: 1%;
        margin-right:1%
    }
    .small-panel{
        width:auto;
        margin:0;
        position: relative;
        top: -33%;
    }
    .no-center{
        align-content: normal;
        position: relative;
        top: -50%;
      
    }
    .medium-text{
        width: 72%;
        padding-top: 25px;
    }
    .about-list{
        list-style-type: none;
        margin-right: 50%;
        display: grid;
        grid-template: "this that";
    }

}
@media screen and (max-width:488px){
    .two-column {
        grid-template-columns: 1fr;
    }
    .forty{
        margin:0% 1%;
    }
    .top-text{
        margin-left: 1%;
        margin-right:1%
    }
    .small-panel{
        width:90%;
        margin-right:1%
    }
    .small-text{
        padding:0%;
        font-size:1.1em
    }
    .about-list{
        width:100%;
        padding:0;
        border-top: 1px solid black;
        padding-top: 10px;
    }
    .main-image{
        background-image:none;
    }
    .headline{
        font-size: 22px;
    }
    .small-image{
        background-image:url('../../../assets/about/WarHorse.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 250px;
        /* background-position-x: 100%; */
        background-position-y: center;
        display: block;
    }
}