<div class="container fadeIn delay8">
  <app-header-image style="z-index:10" [styleObj]='{
  
  imageIndex:0, 
  titleText:"About", 
  color:"#f6b74e", 
  xOffset:"0%", 
  yOffset:"0%"

}'></app-header-image>
  <section class="section-body">
    <div class="about-body">
      <div class='text-box flex row gird-one'>
        <h2>
         {{text[0]}}
        </h2>
      </div>
      <div class="flex row grid-two ">
       <h3>
        {{text[1]}}
      </h3> 
      </div>
      <div class="flex row grid-three">
        
      </div>
      <div class="flex row grid-four ">
        <ul>
          <li *ngFor="let item of list">{{item}}</li>
        </ul>
      </div>
      <div class='text-box flex row grid-five'>
        <h3>
         {{text[2]}} contact me <a mailto="dannyYoerges@gmail.com">here</a>
        </h3>
      </div>
    </div>
    <div class="flex row video-container">
      <iframe width="560" 
    height="315" src="https://www.youtube.com/embed/hyZKzFJSdE0" 
    title="YouTube video player" frameborder="0"
     allow="accelerometer; autoplay; 
     clipboard-write; encrypted-media; 
     gyroscope; picture-in-picture" 
     allowfullscreen></iframe>
    </div>
  </section>
        
