
<div class="reveal12 fadeIn delay8 center contact">
  <a href="mailto:dannyyoerges@gmail.com" class="contact">
    <img  class="contact-button" src="../../../assets/Buttons/Contact Me button.png">
    </a>
</div>
<div class="border-top ">
  <div class="footer-container reveal12 fadeIn delay8">
    <div class="footer-bar">
      <ul class="icon-list">
        <li *ngFor="let link of links">
          <a href={{link.url}} class="footer-link" >
            <img class="footer-item" src={{link.icon}}>
          </a>
        </li>
      </ul>
    </div>


  </div>
</div>