<div class="container main  delay8 reveal8 fadeIn">
  <app-header-image [styleObj]='{
  
    imageIndex:2, 
    titleText:"Teaching", 
    color:"#c84ce1", 
    xOffset:"50%", 
    yOffset:"50%",
    height:"35vh"

    
  }'></app-header-image>
  <div class="section-body">
    <div class="header-text grid two-one-grid">
      <div class="header-cell">
        <h4>{{text[0]}}</h4>
      </div>
      <div class="header-cell width-50">
        <h3 class=" teaching-headline">
          <a class="main-button" href="../../assets/Yoerges CV - February 2021.pdf" download ><img src="../../assets/Buttons/Download CV Button.png"></a>
        </h3>
      </div>
      <div class="underline"></div>   <div class="underline"></div> 
    </div>
    <br>
    <div class="grid purple white text-body">
      <div class="panel left fadeIn reveal8 text-block">
        <h2 class="teaching-headline">What I’m currently teaching: </h2>

        <h3 class="teaching-subheader teaching-headline  teaching-subheader" class="teaching-subheader teaching-headline  teaching-subheader">Contact Improv for Musicians</h3>
        <h4 class="teaching-text oblique oblique">Actors, and Dancers University of Illinois at Urbana-Champaign, lead
          instructor</h4>
        <p class="teaching-text">
            {{text[1]}}
        </p>

        <h3 class="teaching-subheader teaching-headline  teaching-subheader">Intro to Acting </h3>
        <h4 class="teaching-text oblique"> University of Illinois at Urbana-Champaign, lead instructor</h4>
        <p class="teaching-text">
          {{text[2]}}
        </p>
        <div>
          <h3 class="teaching-subheader teaching-headline  teaching-subheader">
            Stage Combat </h3>
          <h4 class="teaching-text oblique teaching-headline" > BFA Seniors, University of Illinois at Urbana-Champaign, TA</h4>
        </div>
        <p class="teaching-text"> 
          {{text[3]}}
        </p>
        <h3 class="teaching-subheader teaching-headline ">Theatre 101 (Online, University of Illinois at Urbana-Champaign, TA)</h3>
        <p class="teaching-text">
          {{text[4]}}
        </p>
      </div>
    </div>
    <div class="grid green white text-body">
      <div class="panel left fadeIn reveal8 text-block">
        <h2>What I can teach:</h2>
        <ul *ngFor= 'let item of canTeach'>
          <li class="teaching-subheader teaching-headline">
            <h3 class="teaching-headline teaching-subheader">{{item.title}}</h3>
            <p class="teaching-text">
              {{item.text}}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
