

h2{
    font-size:36px;
    text-align: center;
    text-decoration:underline
}
h4{
    font-family: Avenir;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;

    line-height: normal;
    letter-spacing: normal;
  
}
.teaching-headline{
    font-weight: 900;
    margin:0 auto;
  
}
.panel{
    padding:2%
}
.oblique{
    font-style: oblique;
}
.teaching-text{
    font-family: Avenir;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    margin:0;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
p{
    margin-left: 3%;
    width: 100%;
}
.teaching-subheader{
    display: list-item;
    list-style-type: circle;
    margin-bottom: 0;
}
.banner-image{
    background-image: url('../../assets/images/dannyTeaching.jpeg');
    background-repeat: no-repeat;
    
    
    height: 550px;
    /* background-position-x: 100%; */
   
    background-position-x: 70%
}

.banner-container{
    background-color:#11100e;
    width:100%
}
.download-wrapper{
    padding:5% 5%;
    position: relative;
    top: 70%;

}

.small-image{display: none;}
.text-block{
  
    width:95%

}

.bold{
    font-size: 1.7em;
    font-weight: bold;
}

.text-body{
    color:white;
    border-radius: 100px;
    margin-bottom: 2%;
    padding-left: 5%;
}
.header-cell{
    display: flex;
    margin:0 auto;
    align-items: center;
    flex-direction: row;
}


@media  (min-width:767px) and (max-width:1024px){
  p{
      width:95%
  }
  h2{
       font-size:1.7em
  }
  .two-column{
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width:480px){
    h4{
        font-size:14px
    }
    h2{
        font-size: 19px;
    }
    .text-body{
        border-radius: 0;
        padding-left:9%
    }
    .teaching-text{
        font-size:13px
    }
    p{
        width:85%
    }
    .teaching-headline{
        font-size:19px;
        margin:0 auto
        
    }
    .header-cell{
       padding:0 2%
    }
    .two-one-grid{
        grid-template-columns: 1fr;
      }
    .two-column{
      grid-template-columns: 1fr;
    }
    .small-image{
        background-image: url('../../assets/images/head3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 400px;
        /* background-position-x: 100%; */
        background-position-y: center;

    }
    .download-wrapper{
        top: 85%;
    right: 45%;
    }
    .banner-image{
        background-repeat: no-repeat;
        height: 40vh;
        background-position-x: 70%;
        background-size: 100%;
    }
    .download-wrapper{
        top: 76%;
        right: 45%;
    }
   
  }
