<div class="container main  delay8 reveal8 fadeIn">
  <app-header-image [styleObj]='{
  
    imageIndex:2, 
    titleText:"Teaching", 
    color:"#c84ce1", 
    xOffset:"50%", 
    yOffset:"50%"
    
  }'></app-header-image>
  <div class="section-body">
    <div class="header-text grid two-column">
      <div class="header-cell">
        <h1>
          I’m an actor who teaches. I recently went back to school to get my MFA so that universities can pay me to do
          that. I’ve been teaching acting, dialects, movement, and puppetry in workshops for about ten years. At the
          University of Illinois, I’ve been a teacher of record and TA for several in-person and online classes. If
          you’re
          thinking about hiring me to teach, this page will give you most of the details.

        </h1>
      </div>
      <div class="header-cell width-50">
        <h3 class="main-button purple">
          <a class="download-link" href="../../assets/Yoerges CV - February 2021.pdf" download>
            Download CV
          </a>
        </h3>
      </div>
    </div>
    <div class="grid purple white text-body">
      <div class="panel left fadeIn reveal8 text-block">
        <h2>What I’m currently teaching: </h2>

        <h3 class="bold no-margin-bottom underline">Contact Improv for Musicians</h3>
        <h4 class="italic sub-title">Actors, and Dancers University of Illinois at Urbana-Champaign, lead
          instructor</h4>
        <p>I’ve been developing this class to be a repository for all the skills I’ve put to use professionally. I
          suppose
          at
          its heart it’s a devising class, but that’s a word I’ve personally never really used. I think of it more as a
          storytelling class. To tell a good story, you need the right tools. This class encompasses acting, dance,
          movement,
          improv, voice, clowning, even puppetry. The greatest challenge this year has been to figure out how to teach
          this
          class without physical contact between students, but I’ve found we are so eager to make connections with each
          other,
          six feet feels like nothing at all.
        </p>

        <h3 class="bold no-margin-bottom underline">Intro to Acting </h3>
        <h4 class="italic sub-title"> University of Illinois at Urbana-Champaign, lead instructor</h4>
        <p>This is a
          one-hundred
          level class offered through the school of Theatre. I treat this like a class from the first year of my
          conservatory
          training. I found early on that even students who were taking it to satisfy an arts gen-ed credit want a
          challenge.
          Through physical games, improv exercises, structured solo performances, scenes, and monologues, I teach
          students
          what it means to pursue an objective, create character, and mine a text for useful information.
        </p>
        <div>
          <h3 class="bold no-margin-bottom underline">
            Stage Combat </h3>
          <h4 class="italic sub-title"> BFA Seniors, University of Illinois at Urbana-Champaign, TA</h4>
        </div>
        <p> I’ve been TAing this class since I
          got
          to the University of Illinois. I had extensive stage combat training at the University of North Carolina
          School
          of
          the Arts under fight master Dale Girard, as well as professional experience in a number of productions. As the
          TA,
          my role has been to move around the room reinforcing the methods the students are learning, and to help
          connect
          the
          lessons to their acting work. I love stage combat and find it to be a wonderful challenge for actors. Nothing
          lets
          you know if you have or haven’t committed to an objective like a sword in your hand.
        </p>
        <h3>Theatre 101 (Online, University of Illinois at Urbana-Champaign, TA)</h3>
        <p>This online class covers everything a
          curious
          non-major might want to know about the world of theatre. All work is done and graded asynchronously.
        </p>
      </div>
    </div>
    <div class="grid green white text-body">
      <div class="panel left fadeIn reveal8 text-block">
        <h2>What I can teach:</h2>
        <ul>
          <li class="no-margin-bottom"><span class="bold">Acting</span>
            <br>
            <p class="italic sub-title">My background is in Meisner, Stanislavski, Michael Chekhov, and Stella Adler.)
              Movement contact improv, movement improv, mask, and clown; background in Viewpoints, Laban, Grotowski,
              Lecoq,
              and
              others
            </p>
          </li>
          <li class="no-margin-bottom"><span class="bold">Movement</span>
            <br>
            <p class="italic sub-title">
              Contact improv, movement improv, mask, and clown; background in Viewpoints, Laban, Grotowski, Lecoq,
              and
              others
            </p>
          </li>
          <li class="no-margin-bottom"><span class="bold">Puppetry</span>
            <br>
            <p class="italic sub-title">
              Team and solo; trained under Basil Jones and Adrian Kohler of South Africa’s Handspring Puppet Company
              while on the world tour of War Horse as a puppeteer
            </p>
          </li>
          <li class="no-margin-bottom"><span class="bold">Stage Combat</span>
            <br>
            <p class="italic sub-title">
              SAFD certified Actor/Combatant in 6 weapons, UIUC combat TA, 3 years
            </p>
          </li>
          <li class="no-margin-bottom"><span class="bold">Voice</span>
            <br>
            <p class="italic sub-title">
              Extensive experience in the voice progressions of Kristin Linklater and Patsy
              Rodenburg
              as
              well as Alexander Technique
              Dialects
              Devising Shakespeare (acting, text analysis, workshops)
              Commedia dell’arte
              Acting for singers
              Acting for dancers
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
