<section class="modal-outer" >
  <div [ngSwitch]="this.selection">
    <div *ngSwitchCase="'Resume'" class="modal-inner resume-modal">
      <div class="center">
        <object data="../../assets/currentResume.pdf#zoom=75%" 
        type="application/pdf"
        style="width: 45vw; 
        margin: 0 auto; 
        height:1400px;" >
             <embed src="../../assets/currentResume.pdf#zoom=55%" type="application/pdf"  class="modal">
        </object>
      
      </div>
    </div>
    <div *ngSwitchCase="'Reel'" class="modal-inner">
      <!-- inline style is here for the vimeo convention primarilly -->
      <div style="padding:50.25% 0 0 0 ;position:relative; left: 7%;"><iframe src="https://player.vimeo.com/video/555286021"
          style="position:absolute;
          top:0;left:0;
          width:75%;
          height:100%; 
          margin:0 auto" 
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
      <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
    <div *ngSwitchCase="'Contact'" 
    style='height:100vh;display: flex;
    align-items: center;
    justify-content: center'>
      <div>
      <app-contact-card 
      columns = "single-grid" 
      styles="width:450px; 
      height:300px">
        
      </app-contact-card>
    </div>
    </div>
    <div *ngSwitchCase="'Headshots'">
        <div>
            <app-swiper></app-swiper>
        </div>
    </div>
  </div>
</section>
