.modal{
    height:75vh; 
    width:50vw
}
.modal-inner{
    width: 85vw;
    height: auto;
    margin: 0 auto
}
.modal-outer{
    max-height: 100vh;
    text-align: center;
    width: 75vw;
    height:100vh;
  
    
}
.resume-modal{
    
    opacity:1;
    height:70vh
}
.vimeo{
    padding:56.25% 0 0 0;
    position:relative;
    width:100%
}
.card-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}