<div class="container two-column">
    <div style= "border: 5px solid yellow"class="block">
        <h1>Legit</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/afhAc-QlwKw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
   
    <div style= "border: 5px solid yellow"class="block">
        <h1> Movement</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5FBNbvF4OGo?start=3307" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
