:host{
    width:100%
}
.header-container{
    width:100%;
    max-width:1400px;
    margin: 0 auto
}
.banner-image{

    min-height: 27vh;
    max-height: 55vh;
    width: 100%;
    margin:0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2% 0%;
}
/* capitalized only to match string passed to component */
.Media{
    background-image:url('../../../assets/images/Website/Media/withText/mediaDesktop.jpg')
}
.About{
    background-image:url('../../../assets/images/Website/About/withText/aboutDesktop.jpg')
}
/* Contact  */
.Resume{
    background-image:url('../../../assets/images/Website/Resume_CV/withText/resumeDesktop.jpg')

}
.Teaching{
    background-image:url('../../../assets/images/Website/Teaching/withText/teachingDesktop.jpg')
}
.title-container{
    margin: 0 auto;
    display: flex;
    align-content: space-around;
    height: 90%;


}

h1{
    font-size: 5em;
    text-align: center;
    display: flex;
  
    width: 100%;
}
.header-text{
  font-family: Avenir;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

@media (max-width:761px){
    
    h1{
        font-size: 2.5em;
    }
    .banner-image{
        height:8vh;
        min-height:0;
        background-size: 100%;
        border-bottom:4px solid;
    }
   
    .Media{
        background-image:url('../../../assets/images/Website/Media/withText/mediaPhone.jpg')
    }
    .About{
        background-image:url('../../../assets/images/Website/About/withText/aboutPhone.jpg')
    }
    /* Contact  */
    .Resume{
        background-image:url('../../../assets/images/Website/Resume_CV/withText/resumePhone.jpg')
    
    }
    .Teaching{
        background-image:url('../../../assets/images/Website/Teaching/withText/teachingPhone.jpg')
    }
    
}
@media (min-width:762px){

}

@media only screen and (min-width:1000px){
    .banner-image{
      background-size:100%;
      padding: 5% 0%;
    }
  }