:host{
    width:100%
}
.header-container{
    width:100%;
    max-width:1400px;
    margin: 0 auto;
    height:40vh
}
.banner-image{

    min-height: 27vh;
    max-height: 55vh;
    width: 100%;
    margin:0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2% 0%;
}
/* capitalized only to match string passed to component */
.Media{
    background-image:url('../../../assets/images/mediaDesktop.jpg')
}
.About{
    background-image:url('../../../assets/images/aboutDesktop.jpg')
}
/* Contact  */
.Resume{
    background-image:url('../../../assets/images/resumeDesktop.jpg')

}
.Teaching{
    background-image:url('../../../assets/images/teachingDesktop.jpg')
}
.title-container{
    margin: 0 auto;
    display: flex;
    align-content: space-around;
    height: 90%;


}

h1{
    font-size: 5em;
    text-align: center;
    display: flex;
  
    width: 100%;
}
.header-text{
  font-family: Avenir;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

@media (max-width:761px){
    
    h1{
        font-size: 2.5em;
    }
    .banner-image{
        height:10vh;
        min-height:0;
       
    }
    .Media{
        background-image:url('../../../assets/images/mediaMobile.jpg')
    }
    .About{
        background-image:url('../../../assets/images/aboutMobile.jpg')
    }
    /* Contact  */
    .Resume{
        background-image:url('../../../assets/images/resumeMobile.jpg')
    
    }
    .Teaching{
        background-image:url('../../../assets/images/teachingMobile.jpg')
    }
    
}
@media (min-width:300px) and (max-width:761px){
    .header-container{
        height:15vh !important;
    }
}
@media (min-width:767px) and (max-width:1024px){
    .header-container{
        height:20vh !important
    }
}
@media only screen and (min-width:1000px){
    .banner-image{
      background-size:100%;
      padding: 5% 0%;
    }.header-container{
        height:40vh
    }
  }
