<div class="grid card-wrapper delay4 {{columns}} fade6 fadeIn gap-5">
 
  <div class="top-40 c purple-border" style={{styles}} >
    <div class="card-body flex column ">
      <div class="card-header">
        <h2 class="italic border-bottom">For profesisonal bookings contact Mark at LB talent</h2>

      </div>
      <div class="block card-content center grid row">
        <div class="pic-container  card-grid-cell">
          <div class="img-container">
            <img src = {{images[0].url}}  style="width:80%; height:100%">
          </div>
          <a href="https://www.facebook.com/LBTalent/">
          </a>
        </div>
        <div class="center card-grid-cell">
          <div>
            <a class="main-button" href="mailto:dannyyoerges@gmail.com" ><img src="../../../assets/Buttons/Email Mark Button.png"></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="top-40  green-border"  style={{styles}}>
    <div class="card-body flex column ">
      <div class="card-header">
        <h2 class="italic border-bottom">For everything else you can email me with this magic button.  </h2>
       </div>
      <div class="block card-content center grid row">
        <div class="pic-container  card-grid-cell">
          <div class="img-container">
            <img src = {{images[1].url}}  style="width:80%; height:100%">
          </div>
          <a href="https://www.facebook.com/LBTalent/">
          </a>
        </div>
        <div class="center card-grid-cell">
          <div>
            <a class="main-button" href="mailto:dannyyoerges@gmail.com"><img src="../../../assets/Buttons/Email Me Button.png"></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
