@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); 
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~swiper/swiper-bundle';

@keyframes slideRight {
	0% {
		transform: translateX(0%)
    }
    100% {
		transform: translateX(4%)
    }
}
@keyframes slideLeft {
	
	0% {
		transform: translateX(0%)
	}
	100% {
		transform: translateX(-4%)
	}
	
}
a{list-style-type: none;}
.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 80%; }
.carousel-cell img{
	object-fit: contain !important;
}
@keyframes fadeIn {
	0% {
		opacity: .1
    }
    100% {
		opacity: 1
    }
}
h1{
	font-size:18px
}
a{
   color: black;
   font-weight:bold; 
   font-size: 1.5em;
   text-decoration: none;
  
}
li{
	list-style-type: none;
}

.active{
	color:#f5a623
  }
  
 
  .hidden{
    display: none;
  }
  .panel{
    opacity:.01
  }
  .slideRight{
    animation: slideRight  ease-out;
    animation-fill-mode: forwards;

  }
  .slideLeft{
    animation: slideLeft  ease-out;
    animation-fill-mode: forwards;
    animation-duration: .9s;
    

  }
  .grow:hover{
    transform: scale(1.03);
  }
  .delay4{
    animation-delay: .4s !important;
  }
  .delay8{
    animation-delay: .8s !important
  }
  .delay10{
    animation-delay: 1s !important
  }
  .delay12{
    animation-delay: 1.2s !important
  }
  .delay14{
    animation-delay: 1.4s !important
  }
  .fadeIn{
    animation: fadeIn 1.0s 1  ease-in-out;
    animation-fill-mode: forwards;
    opacity:0.01
  }


  .fade6{
    animation-duration: .6s !important 
  }
  .fade8{
    animation-duration: .8s !important;
  }
  .grid{
    display:grid
  }
  .underline{
    border-bottom:2px solid;
  }
  .no-margin-bottom{
    margin-bottom:0;
  }
html, body {
    min-height: 90vh;
    height: auto;
    margin: 0; 
    font-family: Avenir;
    font-weight: 500;
  }
  .italic{
    font-style: italic;
  }
  .forty{
    margin-right:40%
  }
  .one-hundred{
    width:100%
  }
  .height-40{
    min-height:40vh !important
  }
.construction{
    border:3px dotted orange
}
.orange{
    background:  #f5a623 25%
}
.blue{
    background:#4a90e2
}
.green{
    background:  #7ed321
}
.swiper-button-prev, .swiper-button-next {
  padding:0 5% !important;
  border:none
}
.purple{
    background: #c84ce1 
}
.width-50{
  width:50%
}
.main-button{
  margin: 0 auto;
  max-width:80%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-around;
  text-align: center;
  border-bottom: 0px;
  list-style-type: none;
  cursor: pointer;
  

}
.flex{
  display:flex
}
.mat
.download-link{
  font-size:1.4em;
  float:right
}
.mat-dialog-container{
background:none;
box-shadow:none
}
.short{
    min-height:none !important;
    padding:0 2%;
}
.container{
    height:auto;
    align-content: center;
    width:auto;
    justify-items: center;
    display:grid;
    grid-template-columns: 1fr;
  }
    .black{
      background-color:black;
    }
    .block{
        display: inline-block;
        padding:2.5%;
        align-items: center;
       }
    .text{
        font-size:2em
    }
 
    .fixed{
        position: absolute;
    }
    .italic{
      font-style: italic;
    }
    .one-column{
      grid-template-columns: 1fr;
    }
    .two-one-grid{
      grid-template-columns:2fr 1fr
    }
    .two-column{
        grid-template-columns: 1fr 1fr;
    }
	.section-body{
		max-width: 1200px;
		margin:0 auto;
	}
    
    .thumbnail:hover{
        opacity:.8
    }
    .no-center{
        align-content:normal
    }
    .center{
        align-self:center
    }
    .grid{
      display: grid;
    }
    .mat-dialog-container {
      padding:2% !important;
      overflow:hidden !important;
    }
	
    
    @media (max-width:1024px){
      .component-wrapper{
        margin-top:5%
      }
    }
    @media (max-width:761px){
      .two-column{
        grid-template-columns: 1fr;
      }
      .entire-app{
        padding:0 9%
      }
     
     
    }
    @media (max-width:450px){
      .entire-app{
        max-width:450px;
        margin:0 auto;
      }
      .main-button{
        width:110px
      }
      .underline{
        border:0px ;
      }
    }