<div class="landing-wrapper {{noMargin}}" style="align-items:{{align}}; margin-top:{{margin}} ">
 
  <div class="panel-container border-{{color}}" 
  style="background-image:url({{ path }});
  background-position-x:{{ xPos }};
  background-position-y:{{ offset }}; 
  background-size:contain;
  background-color:white;
  background-repeat:no-repeat"
  id="panel{{ id }}">

      <!-- color has an added opacity to deal with the overlay div. -->
      <h1 class="label visible bg-{{color}}" >
        <a class="panel-button" (click)="openDialog($event.target.id)" id={{label}}>{{ label }}</a>
      </h1>
    
  </div>
</div>
