.panel-container{
    
    height:92%;
    text-align: center;
    width:100%;
    background-size: cover;
}
.landing-wrapper{
  display:flex;
  align-content: flex-end;
 
  height:100%
}
.top-align{
  justify-content:end
}
#panel4{
  background-position-x: -50px ;
  background-repeat: no-repeat;
}
.label{
    margin-top:25%;
    margin-left:25%;
    margin-right:25%;
    box-shadow: 3px 3px 5px 6px rgb(75, 74, 74);
    z-index: 1;
}

.panel-container .label:hover ,
.panel-container .label:focus,
.panel-container .overlay:hover  {
  transform: scale(1.02);
}



.overlay{
    height:93%;
    width: 97%;
}
.overlay :hover{
    opacity:0.45 !important;
   
    background-color:blue;
}   

a{
  font-size:.8em;
  border:none;
}
.label{
  margin-bottom:25%;
  margin-left:28%;
  margin-right:28%
}
@media (min-width:767px) and  (max-width:1024px){
    .two-column{
        grid-template-columns: 1fr;
        width:100%
    }
   
    .panel-container{
      display: flex;
      height: 30vh;
    }
    .label{
      margin-bottom: 25%;
      margin-left: 32%;
      margin-right: 32%;
      margin-top: 38%;
    }
    a{
      font-size: .6em;
    }
    #panel3{
      background-position-x: 55%;
    }
    #panel1{
      background-position-x: 70%;
      background-position-y: 150%;
    }
    #panel4{
      background-position-x: 50%;
    }
}
  
@media only screen and (max-width:420px){
    .two-column{
        grid-template-columns: 1fr;
        width:100%
    }
    
    a{
      font-size:.8em;
      border:none;
    }
    .panel-container{
      display:flex;
      height: 97%;
    }
    .label{
      margin-bottom:25%;
      margin-left:28%;
      margin-right:28%
    }
  
}


