<div class="container fadeIn delay12 ">
  <app-header-image [styleObj]='{
 
    titleText:"Resume"
 }'
  ></app-header-image>
  <div class="black-background">
    <div class="grid  two-column height-70">
      <div class="top-40 contact-card purple">
        <div class="card-body">
          <h2 class="italic border-bottom">For professional bookings email Mark Whatever at LB Talent (LA)</h2>
            <div class="block grid two-column card-body">
              <div class="center grid two-column">
                <div class="main-button purple">
                  <a>email Mark</a>
                </div>
               </div>
              <div class="center">
                <div class="lb-background warhorse"><a href="https://www.facebook.com/LBTalent/"
                    style="height:100px;width:100px"></a></div>
              </div>
            </div>
          </div>
        </div>
      <div class="top-40 contact-card green">
      <div class="card-body">
        <h2 class="italic border-bottom">For all other inquiries you can email me with this magic button</h2>
          <div class="block grid two-column card-body">
            <div class="center grid two-column">
              <div class="main-button green">
                <a>email Mark</a>
              </div>
            </div>
            <div class="center">
              <div class="lb-background"><a href="https://www.facebook.com/LBTalent/"
                  style="height:100px;width:100px"></a></div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
