
  <div class="container fadeIn delay12 ">
    <app-header-image [styleObj]='{titleText:"Resume"}'></app-header-image>
    <section class="section-body">
      <div class=" grid three-column">
    <div class="contact-ls
    card flex row">
      <div>
        <div class="download-container">
          <img class="download-pic" src = "{{images.resumeDesktop}}">
          <div>
            <a class= "main-button grow" href="../../../assets/resume.pdf" download>
           <img src="../../../assets/Buttons/Download Resume Button.png">
              </a>
          </div>
        </div>
      </div>
    </div>
  <div class="contact-card flex row" >
      <div>
        <div class="download-container">
          <img class="download-pic" src = "{{images.cvDesktop}}">
          <div>
            <a class= "main-button grow" href="../../../assets/Yoerges CV - February 2021.pdf" download>
              <img src="../../../assets/Buttons/Download CV Button.png">
                 </a>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-card flex row">
      <div>
        <div class="download-container">
          <img class="download-pic" style="width:195px"   src = "{{images.headshotsDesktop}}">
          <div>
            <a class= "main-button grow" href="../../../assets/images/headshotsDesktop.jpg" download>
              <img src="../../../assets/Buttons/Download Headshots Button.png">
                 </a>
          </div>
        </div>
      </div>
    </div>
      </div>
      <div class="black-background">
    <app-contact-card columns="two-column" styles  ='width:400px; height:350px; margin-top:0'></app-contact-card>
        </div>
      </section>



